python-telegram-bot==20.7
telethon==1.34.0
motor==3.3.2
dnspython==2.4.2
pymongo==4.6.1
python-dotenv==1.0.0
cryptography==41.0.7
cryptography
dnspython
motor
pymongo
python-dotenv
python-telegram-bot
telegram
telethon
